// Fonts
@import url('https://fonts.googleapis.com/css?family=Blinker:400,700');

// Variables
@import 'variables';

// Icons
@import 'icons';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-primary {
	background: rgb(56,135,191);
	background: linear-gradient(90deg, rgba(56,135,191,1) 0%, rgba(85,178,240,1) 100%);
	text-transform: uppercase;
	min-width: 150px;
	border-width: 0px;
}

.modal-header {
	justify-content: center;
	.close {
		position: absolute;
		right: 1rem;
	}
}

.modal-footer {
	justify-content: center;
}

label {
	margin-bottom: -2rem;
}