<template>
	<tr>
		<th scope="row">{{ review.reviewId }}</th>
		<td>{{ review.rating }}</td>
		<td>{{ review.language }}</td>
		<td>{{ review.lessons }}</td>
		<td>
			<span>
			{{ review.review }}
  			</span>
  		</td>
		<td><span class="oicon oicon-edit" v-on:click="editReview($event, review.reviewId)"></span><span class="oicon oicon-delete" v-on:click="deleteReview($event, review.reviewId)"></span></td>
	</tr>
</template>

<script>
	export default {
		props: ['review'],
		methods: {
			editReview: function(event, reviewId) {
				$('#reviewModal').modal('show');

				for (let idx in this.$parent.reviews)
				{
					let review = this.$parent.reviews[idx];
					
					if (review.reviewId === reviewId)
					{
						$('#reviewId').val(review.reviewId);
						$('#rating').val(review.rating);
						$('#language').val(review.language);
						$('#lessons').val(review.lessons);
						$('#review').val(review.review);
						$('.btn-send-form').data('edit', 1);
					}
				}
			},
			deleteReview: function(event, reviewId) {

				var self = this;

				axios.delete('/review/' + reviewId
				)
				.then(function (response) {
		
					$('#reviewModal').modal('hide');

					self.$parent.reviews = self.$parent.reviews.filter(item => item.reviewId !== reviewId);
				})
				.catch(function (error) {
					alert(error);
				});

    		}
		},
		mounted() {
			console.log('Component mounted.');
		}
	}
</script>
